[user]
	name = tssujt
	email = contactxjw@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	editor = nvim
	autocrlf = input
[alias]
	# Show the diff between the latest commit and the current state
	d	= !"git diff"
	# `git di $number` shows the diff between the state `$number` revisions ago and the current state
	di	= !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
	g	= git
	cm	= commit
	cl	= clone
    done = !"f() { default_branch=`git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@'`; git checkout $default_branch && git branch -D @{-1} && git pull origin $default_branch; }; f"
	br	= branch
	st	= status
	co	= checkout
	sm	= submodule
	ci	= commit -a -v
	unst = reset HEAD
	clr	= clean -fdx -f
	last	= log -1
	glog	= log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	slog	= log --pretty=oneline
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
    tool = nvimdiff
[mergetool]
    prompt = true
[mergetool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c 'wincmd w' -c 'wincmd J'"
[http]
	proxy = http://127.0.0.1:6152
[https]
	proxy = http://127.0.0.1:6152
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[commit]
	template = ~/.stCommitMsg
[credential]
	helper = store
[includeIf "gitdir:~/Workspace/"]
    path = .gitconfig_work
[pager]
	branch = false
	diff = false
