[submodule "home/.emacs.d"]
	path = home/.emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "home/vim-for-server"]
	path = home/vim-for-server
	url = https://github.com/xjw0914/vim-for-server
